# Diretórios e arquivos temporários
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Ambientes virtuais
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos de configuração locais
*.env
*.vscode/
*.idea/

# Dados simulados e exportações
*.csv
*.xlsx
*.json
*.parquet


# Diretórios e arquivos temporários
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# Ambientes virtuais
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Arquivos de configuração locais
*.env
*.vscode/
*.idea/

# Dados simulados e exportações 
*.parquet
*.json
*.xlsx
*.csv


# Dados simulados e exportações
Data/RAW/FULL_SIMULATED/

# Relatórios
*.pdf
*.docx

# Arquivos do sistema
.DS_Store
Thumbs.db



# Relatórios
*.pdf
*.docx

# Arquivos do sistema
.DS_Store
Thumbs.db
